{% extends './base_template.html' %}
{% load static %}
{% block page_title %}
Edit Subject Details
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-8" style="margin: 0 auto;">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Subject detail: Subject Name: {{ subject.subject_name}} | ID: {{ subject.id }}</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action='/edit_subject_save' method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">      <!-- subject name -->
                    <label>Subject Name</label>
                    <input type="text" class="form-control" name="subject_name" placeholder="Enter subject name" value="{{subject.subject_name}}">
                    <input type="hidden" class="form-control" name="subject_id" placeholder="Enter subject name" value="{{subject.id}}">
                    
                </div>

                  <div class="form-group"> <!-- select subject -->
                    <label>Course</label>
                    <select class="form-control" name="course">
                        {% for course in courses %}
                      <option value="{{ course.id }}" {% if course.id == subject.course_id.id %} selected {% endif %} >{{ course.course_name }} </option>
                      
                        {% endfor %}        
                        <input type="hidden" class="form-control" name="course_id" placeholder="" value="{{course.id}}">
                      </select>
                  </div>

                  <div class="form-group"> <!-- select staff -->
                    <label>Staff</label>
                    <select class="form-control" name="staff">
                        {% for staff in staffs %}
                      <option value="{{ staff.id }}" {% if staff.id == subject.staff_id.id %} selected {% endif %} >{{ staff.first_name }} {{ staff.last_name }} </option>
                        {% endfor %}        
                    </select>
                  </div>

                    
                  <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                  </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer" style="padding: 0;">
                  <button type="submit" class="btn btn-primary btn-block">Update Subject</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
