
{% extends 'staff_templates/base_template.html' %}
{% load static %}

{% block page_title %} Staff Home {% endblock page_title %}

{% block main_content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="col-md-8" style="margin: 0 auto;">
      <h1>Home Staff Home</h1>
    </div>

    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{ students_count }}</h3>

            <p>Students Under Me</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>      <!-- ./col -->

      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{ attendance_count }}</h3>

            <p>Total Attendance Taken</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="{% url 'staff_take_attendance' %}" class="small-box-footer">Take Attendance <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>       <!-- ./col -->

      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{ leave_count }}</h3>

            <p>Total Leaves taken</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="{% url 'staff_apply_leave' %}" class="small-box-footer">Apply for Leave <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>      <!-- ./col -->

      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{ subjects_count }}</h3>

            <p>Total Subjects</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a href="#" class="small-box-footer">&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>      <!-- ./col -->
    </div>    <!-- row -->

    <div class="row">
      <div class="col-lg-6">
        <!-- PIE CHART -->
        <div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title">Pie Chart</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>      <!-- ./col -->

            <!-- BAR CHART -->
      <div class="col-lg-6">
        <div class="card card-success">
          <div class="card-header">
            <h3 class="card-title">Most Attended Subject</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="chart">
              <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
          </div>           <!-- /.card-body -->
        </div>         <!-- /.card -->
      </div> <!-- /.col -->
    </div>    <!-- row -->


    <div class="row">   <!-- row -->
      <div class="col-lg-12">

        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Student Attended SubDataject</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="chart">
              <canvas id="barChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
          </div>           <!-- /.card-body -->
        </div>         <!-- /.card -->
      </div>    <!-- /.col -->
    </div>      <!-- row -->

</div><!-- /.container-fliud -->
</section>
<!-- /.content -->
{% endblock main_content %}

{% block custom_js %}
<script>
//-------------
//- PIE CHART -
//-------------
  $(document).ready(function() {

    var pieData = {
      labels: [
          'Attendance',
          'Leave',
      ],
      datasets: [
        {
          data: [{{ attendance_count }}, {{leave_count }}],
          backgroundColor : ['#00a65a', '#f39c12', '#d2d6de','#3c8dbc','#00c0ef', '#f56954' ],
        }
      ]
    }

    var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
    var pieData        = pieData;
    var pieOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    }

    new Chart(pieChartCanvas, {
      type: 'pie',
      data: pieData,
      options: pieOptions
    })

    //-------------
    //- BAR CHART -
    //-------------
      // Get context with jQuery - using jQuery's .get() method.
      
    var attendance_list= {{ attendance_list}}
    var subject_list = {{ subject_list|safe }}
    var barChartData = {
        labels  : subject_list,
        datasets: [
            {
              label               : 'Attendance',
              backgroundColor     : 'rgba(60,141,188,0.9)',
              borderColor         : 'rgba(60,141,188,0.8)',
              pointRadius          : false,
              pointColor          : '#3b8bba',
              pointStrokeColor    : 'rgba(60,141,188,1)',
              pointHighlightFill  : '#fff',
              pointHighlightStroke: 'rgba(60,141,188,1)',
              data                :  attendance_list,
            }
        // {
        //   label               : 'Electronics',
        //   backgroundColor     : 'rgba(210, 214, 222, 1)',
        //   borderColor         : 'rgba(210, 214, 222, 1)',
        //   pointRadius         : false,
        //   pointColor          : 'rgba(210, 214, 222, 1)',
        //   pointStrokeColor    : '#c1c7d1',
        //   pointHighlightFill  : '#fff',
        //   pointHighlightStroke: 'rgba(220,220,220,1)',
        //   data                : [65, 59, 80, 81, 56, 55, 40]
        // },
      ]
    }

    var barChartCanvas = $('#barChart').get(0).getContext('2d')
    var barChartData = $.extend(true, {},  barChartData)
    var temp0 = barChartData.datasets[0]
    // var temp1 = barChartData.datasets[1]
    // barChartData.datasets[0] = temp1
    barChartData.datasets[0] = temp0

    var barChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      datasetFill             : false
    }

    new Chart(barChartCanvas, {
      type: 'bar',
      data: barChartData,
      options: barChartOptions
    })

// 3rd row
    var student_list= {{ student_list|safe }}
    var present_list= {{ present_list }}  
    var absent_list= {{ absent_list }}   
    var barChartData2 = {
        labels  : student_list,
        datasets: [
            {
              label               : 'Present',
              backgroundColor     : 'rgba(60,141,188,0.9)',
              borderColor         : 'rgba(60,141,188,0.8)',
              pointRadius          : false,
              pointColor          : '#3b8bba',
              pointStrokeColor    : 'rgba(60,141,188,1)',
              pointHighlightFill  : '#fff',
              pointHighlightStroke: 'rgba(60,141,188,1)',
              data                :  present_list,
            },
            {
              label               : 'Absent',
              backgroundColor     : 'rgba(255, 193, 7, 1)',
              borderColor         : 'rgba(255, 193, 7, 1)',
              pointRadius         : false,
              pointColor          : 'rgba(210, 214, 222, 1)',
              pointStrokeColor    : '#c1c7d1',
              pointHighlightFill  : '#fff',
              pointHighlightStroke: 'rgba(220,220,220,1)',
              data                : absent_list
        },
          ]
    }

    var barChartCanvas2 = $('#barChart2').get(0).getContext('2d')
    var barChartData2 = $.extend(true, {},  barChartData2)
    var temp0a = barChartData2.datasets[0]
    // var temp1 = barChartData.datasets[1]
    // barChartData.datasets[0] = temp1
    barChartData2.datasets[0] = temp0a

    var barChartOptions2 = {
      responsive              : true,
      maintainAspectRatio     : false,
      datasetFill             : false
    }

    new Chart(barChartCanvas2, {
      type: 'bar',
      data: barChartData2,
      options: barChartOptions2
    })

  }) 
</script>
{% endblock custom_js %}